.App {
  text-align: center;
}
.content-bg {
  color: gainsboro;
  border-radius: 1rem;
  background: rgba(99, 77, 153, 0.7);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.container div {
  margin-bottom: 1rem;
}

.message {
  font-family: 'Love Light', cursive;
}

.pinata {
  width: 20rem;
  height: auto;
}